body{
    background-color: rgb(65, 62, 62);
}

.principal{
    display: flex;
    border-radius: 8px;
    background-color: rgb(138, 134, 134);
    align-items:center;
    justify-content: center;
    max-width:800px;
    height:auto;
    margin: 170px auto;
    flex-direction:column;
}

h1{
    color: aliceblue;
    width: 100%;
    text-align: center;
    display: block;
}

.videos{
    display: flex;
    align-items:center;
    justify-content: center;
    height:auto;
    flex-direction:column;
    margin-bottom: 10px;
    width:800px;
}

.thumb{
    display: flex;
    width: 50%;
    display:flex;
    align-items:center;
    justify-content: center;
    height:auto;
    margin-bottom: 10px;
    width:600px;
}

img{
    width:300px;
    margin-right: 10px;
    margin-left: 10px;
}

.icone{
    
    width:40px;
    margin-bottom: 10px;
}

a{
    color: aliceblue;
}